# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Project specific
*.log

# MyST build outputs
_build


# Ignore CSV data
